
body {
    background: rgb(223, 202, 202);
}

input, textarea, select {
    box-sizing: border-box;
    display: block;
    height: 30px;
    width: 300px;
    margin-bottom: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

textarea {
    height: 90px;
    resize: none;
}