form {
    margin-left: 50px;
    margin-top: 50px;
}

p {
    margin: 0 0 0 50px;
    color: rgb(223, 106, 106);
    font-size: 20px;
}


input {
    margin-bottom: 20px;
    display: block;
}

body {
    background: rgb(117, 105, 131);
}

.label {
    color: rgb(197, 170, 170);
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
}